@using MembershipApps.Areas.Admin.Models
@model IEnumerable<Memberships.Entities.SubscriptionProduct>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<table class="table table-striped table-condensed">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subscription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subscription.Title)
        </td>
       @Html.Partial("_TableButtonPartial", new SmallButtonModel {Id = item.Id})
    </tr>
}

</table>
